.reveal h1, .reveal h2, .reveal h3 {
    color: #292694;
}
.reveal h2 {
    margin-bottom: .5em;
}
.reveal p, .reveal li {
    font-size: 1em;
}
body.rise-enabled #notebook-container::after {
    content: "@datapythonista";
    position: fixed;
    bottom: 1em;
    right: 0;
    font-size: .9em;
    color: #292694;
    font-weight: bold;
}
body.rise-enabled #exit_b,
body.rise-enabled #help_b,
body.rise-enabled #notebook div.progress,
body.rise-enabled #notebook aside.controls,
body.rise-enabled #notebook div.slide-number {
    display: none !important;
}
.rendered_html ul:not(.list-inline),
.rendered_html ol:not(.list-inline) {
    display: block;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.rendered_html ul:not(.list-inline) li::before,
.rendered_html ol:not(.list-inline) li::before {
    float: left;
    margin: 0 30px 0 0;
    content: "\22D9";
    color: #292694;
    font-size: .7em;
}
.rendered_html table {
    font-size: 90%;
}
